﻿@font-face {
    font-family: "Roboto Condensed";
    src: url("/fonts/RobotoCondensed-Regular.ttf");
}


@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes hide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

address,
h1,
h2,
h3 {
    color: #7b7979;
    font-family: "Roboto Condensed";
}


.imag 
{
    position: absolute;
    top: 0;
    right: 0;
    clip: rect(auto auto 200px auto);
}
.imagTop {
    position: absolute;
    top: 0;
    min-width:300px!important;
    width:60%;
    display: block;
    left: 50%;
    transform: translate(-50%);
    z-index: 3;
}

.tbl {
    min-width: 100%;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 0;
    padding-top: 250px;
    background-color: whitesmoke;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.7);
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
    z-index: 3;
}

.menu > ul {
        list-style: none; /*убираем маркеры списка*/
        margin: 0; /*убираем отступы*/
        padding-left: 20px;
}

.menu > ul > li > a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    margin: 4px;
    font-family: "Roboto Condensed";
    color: black;
}

.menu > ul > li > a:hover {
    text-decoration: underline;
}

.menu > ul > li {
    float: left; /*Размещаем список горизонтально для реализации меню*/
    margin-right: 4px; /*Добавляем отступ у пунктов меню*/
    margin-bottom: 15px;
    margin-top: 15px;
}

.menu:active,
.menu:disabled,
.menu:enabled,
.menu:hover {
   color: white;
}

.dropDown {
    margin: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 19px;
}

.dropDown > ul > li {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

#menu ul li a,
#menu ul li a:active {
    outline: none;
}

.dropDown > * {
    border: none;
}

.dropDown > ul > li > a {
    color: black;
}

    .dropDown > ul > li > a:hover {
        text-decoration: underline !important;
        text-decoration-color: #69bd43 !important;
        text-decoration-style: solid !important;
        text-decoration-thickness:2px!important;
    }

.dropDown > ul > li > ul > li {
    background-color: whitesmoke;
    min-width: 250px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: show 0.5s;
}

.dropDown > ul > li > ul > li > a {
    font-size: 20px;
    color: black;
    padding:12px;
}

.dropDown > ul > li > ul {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    color: white;
}
.dropDown>ul
{
    border:none!important;
    outline:none!important;
}

.dropDown > ul > li > ul > li:hover > *,
.dropDown > ul > li > ul > li:hover {
    background-color: #69bd43;
    color: white;
}

.backgroundColor {
    background-color: white;
    border-left: 2px solid lightgray;
    border-right: 2px solid lightgray;
    background-size: auto 5000px;
}

footer {
    color: black;
}

.none {
    background-color: rgba(255, 255, 255, 0);
}

    .none > p {
        white-space: pre-wrap;
    }

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.block {
    height: auto;
    max-width: 700px;

    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
    border-radius: 4px;
    overflow: hidden;
    animation: show 1s;
}

.block > strong > p,
.block > span {
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 26px;
    font-weight: initial;
    font-family: 'Roboto Condensed', sans-serif;
    color: #7b7979;
}

.block > span > p,
.block > p,
.block > a {
    padding-right: 20px;
    padding-left: 20px;
    color: #7b7979;
    font-size: 16px;
    font-weight: lighter;
    font-family: 'Roboto Condensed', sans-serif;
}

.block > strong {
    font-family: 'Roboto Condensed', sans-serif;
    color: #7b7979;
}

.block > a {
    padding-left: 0px;
}

.block > a:hover {
    text-decoration: none;
}

.blog {
    height: auto;
    max-width: 700px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    border-radius: 4px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 1);
    animation: show 1s;
}

.blog > span > strong > p,
.blog > strong > p,
.blog > span > strong > p > a {
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    font-size: 26px;
    font-weight: initial;
    font-family: 'Roboto Condensed';
    color: #7b7979;
}

.blog > a > p {
    float: right;
    margin-left: 8px;
    margin-right: 10px;
    margin-bottom: 18px;
}

.blog > p,
.blog > ul > li > a {
    padding-left: 10px;
    padding-right: 10px;
}

.blog > input,
.blog > textarea,
.blog > select
{
    margin-left: 4px !important;
    margin-bottom: 4px !important;
}

.blog > span > p {
    padding-right: 20px;
    padding-left: 20px;
    color: #7b7979;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
}

.image {
    border-radius: 8px;
    max-height: 400px;
    max-width: 90%;
    margin-bottom: .5em;
    margin-left: auto;
    margin-right: auto;
    padding: .4em;
    display: block;
    clear: right;
    vertical-align: middle;
    line-height: 1.5em;
    overflow: auto;
    animation: show 1s;
}

.searchField
{
    margin:5px!important;
    min-width:70%;
    left:0;
}
.searchButton {
    margin: 5px !important;
    min-width: 10%;
}
.searchBlock 
{
    display: flex !important;
    justify-content: center;
    margin-bottom:50px;
}

.hr {
    margin-top: 1px;
    border-bottom: 2px solid #69bd43;
}

.labels {
    font-family: 'Roboto Condensed', sans-serif;
    color: #7b7979;
}

    .labels:hover {
        text-decoration: none;
        color: #7b7979;
    }
#MainContent_tbl 
{
    /*padding-bottom: 100%;*/
}
#MainContent_blog {
    background-color: rgba(255, 255, 0, 0);
    min-height:90%;
    top:0;
}
footer {
    /*max-height: 30px!important;*/
}
html,body
{
    /*min-height:100%!important;*/
}
.content 
{
    /*min-height: calc(100vh - 40px)!important;*/
}



@media all and (orientation:landscape) {
    .dropDown {
        font-size: 19px;
    }
}

@media all and (orientation:portrait) {
    .dropDown 
    {
        margin-top: 15px !important;
        margin-bottom: 15px !important;
        font-size: 7px;
    }

    .dropDown > ul > li > ul {
        position: fixed !important;
        top: 40px !important;
        width:100%!important;
    }

    .dropDown > ul > li {
        padding-right: 5px !important;
        padding-left: 5px !important;
    }

    .menu 
    {
    padding-left: 0 !important; /*убираем отступы*/
    display: flex !important;
    justify-content: center !important;
    }
}

@media only screen and (max-width:319px) and (orientation:portrait) {

    .dropDown {
        font-size: 6px;
    }

   /* .dropDown > ul > li > ul {
        left: 13% !important;
    }*/
}

@media only screen and (min-width:320px) and (max-width:400px) and (orientation:portrait) {
    .dropDown {
        font-size: 7px;
    }

    /*.dropDown > ul > li > ul {*/
        /*left: 23% !important;*/
        /*width:100%!important;
    }*/
}

@media only screen and (min-width:400px) and (max-width:500px) and (orientation:portrait) {
    .dropDown {
        font-size: 10px;
    }

    /*.dropDown > ul > li > ul {
        left: 38% !important;
    }*/
}

@media only screen and (min-width:501px) and (max-width:600px) and (orientation:portrait) {
    .dropDown {
        font-size: 13px;
    }

    /*.dropDown > ul > li > ul {
        left: 50% !important;
    }*/
}

@media only screen and (min-width:600px) and (orientation:portrait) {
    .dropDown {
        font-size: 16px;
    }

   /* .dropDown > ul > li > ul {
        left: 50% !important;
    }*/
}
