﻿<%@ Page Title="О нас" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="About_Us.aspx.cs" Inherits="PlodovochSite.About" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <div id ="content" class="content" runat="server">
    </div>
</asp:Content>
