﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="DownloadPriceList.aspx.cs" Inherits="PlodovochSite.Pages.DownloadPriceList" MasterPageFile="~/Site.Master"%>
<asp:Content runat="server" ContentPlaceHolderID="MainContent">

</asp:Content>
