﻿<%@ Page Title="Главная" Language="C#" AutoEventWireup="true" CodeBehind="Home.aspx.cs" Inherits="PlodovochSite.MainPage" MasterPageFile="~/Site.Master" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <div id="blog" class="content" runat="server"></div>
</asp:Content>
