﻿<%@ Page Title="Магазины" Language="C#" AutoEventWireup="true" CodeBehind="Shops.aspx.cs" Inherits="PlodovochSite.Forms.Shops" MasterPageFile="~/Site.Master" %>

<asp:Content runat="server" ContentPlaceHolderID="MainContent">
    <h1>Наши магазины:</h1>
        <ul id="shopsList" runat="server">
        </ul>
</asp:Content>
