﻿<%@ Page Language="C#" Title="Работа" AutoEventWireup="true" CodeBehind="Work.aspx.cs" Inherits="PlodovochSite.Work" MasterPageFile="~/Site.Master" %>
<asp:Content runat="server" ContentPlaceHolderID="MainContent">
    <div class="content">
        <p><asp:Label CssClass="labels" runat ="server" Text="Мы ищем:" Font-Size="40"/></p><hr / class="hr">
        <div id="blog" runat="server"></div>
    </div>
</asp:Content>
